language: php

matrix:
  include:
    - php: 5.2
      dist: precise
    - php: 5.3
      dist: precise
    - php: 5.6
    - php: 7.1

php:
  - '5.2'

services:
  - mysql

before_install:
  mysql -e "CREATE DATABASE IF NOT EXISTS dnevnik"

script: phpunit --debug --configuration ./test/phpunit.xml.dist ./test/Test_msq.php